.tiktok {
	color: #c900d4;
}

.github {
	color: #00a2b2;
}
.steam {
	color: #00adee;
}

.reddit {
	color: #ff3c00;
}

.telegram {
	color: #006eff;
}

.youtube {
	color: #ff0000;
}

.twitch {
	color: #ae00ff;
}

.twitter {
	color: #1d9bf0;
}

.discord {
	color: #5865f2;
}
